<div>
  <div class="datapanel">
  </div>
  <div class="datapanel">
  </div>
</div>
<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Token List
      </mat-panel-title>
      <mat-panel-description>
        Select a token
        <mat-icon>filter_list</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-selection-list #tokenSelection [multiple]="false">
      <mat-list-option *ngFor="let token of tokens | keyvalue" [value]="token.key" (click)="selectToken()">
        {{token.key}}
      </mat-list-option>
    </mat-selection-list>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Token Detail
      </mat-panel-title>
      <mat-panel-description>
        token details
        <mat-icon>description</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-token-detail
      [tokenName]="getTokenFor(tokenSelection.selectedOptions.selected[0]?.value)"
      (selectNoteEvent)="selectNote($event)"
      (click)="nextStep()"></app-token-detail>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Note Detail
      </mat-panel-title>
      <mat-panel-description>
        note details
        <mat-icon>description</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-note-detail [noteName]="noteName"></app-note-detail>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
