<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Tags</mat-label>
  <mat-chip-list #chipList aria-label="Tag selection">
    <mat-chip
      *ngFor="let fruit of fruits"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(fruit)">
      {{fruit}}
      <button matChipRemove *ngIf="removable">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      placeholder="Select tag..."
      #fruitInput
      [formControl]="fruitCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
      {{fruit}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-selection-list #noteSelection [multiple]="false">
  <mat-list-option *ngFor="let note of notes" [value]="note">
    <app-note-detail [noteName]="note"></app-note-detail>
  </mat-list-option>
</mat-selection-list>
